<section class="site-section bg-light bg-image" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <!-- <h3 class="section-sub-title">Get</h3> -->
          <h2 class="section-title mb-3">Contacta con nosotros</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 mb-5">

          

          <form action="#" class="p-5 bg-white">
            
            <h2 class="h4 text-black mb-5">Contacto</h2> 

            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Nombre</label>
                <input type="text" id="fname" class="form-control">
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Apellidos</label>
                <input type="text" id="lname" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="email">Email</label> 
                <input type="email" id="email" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Mensaje</label> 
                <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Escribe aquí tu pregunta..."></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Enviar" class="btn btn-primary btn-md text-white">
              </div>
            </div>


          </form>
        </div>
        <div class="col-md-5">
          
          <div class="p-4 mb-3 bg-white">
            <p class="mb-0 font-weight-bold">Dirección</p>
            <p class="mb-4">Calle Manzanilla 5, Rocio Sur 1</p>

            <p class="mb-0 font-weight-bold">Telefono</p>
            <p class="mb-4"><a href="#">+34 632 3235 324</a></p>

            <p class="mb-0 font-weight-bold">Email Address</p>
            <p class="mb-0"><a href="#">holaquetal@domain.com</a></p>

          </div>
          
        </div>
      </div>
    </div>
  </section>