<section class="site-section border-bottom" id="agents-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 text-left">
          <h2 class="section-title mb-3">Equipo</h2>
          <p class="lead">Estupendo equipo con el que podras aprender y sacar el 100% de cada deporte.</p>
        </div>
      </div>
      <div class="row">
        

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="/assets/images/person_5.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3 class="mb-2">Jorge Fructuoso</h3>
              <span class="position">Entrenador personal</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="/assets/images/person_6.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3 class="mb-2">David Elamante</h3>
              <span class="position">Entrenador personal</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="/assets/images/person_7.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3 class="mb-2">Benito Villamanrique</h3>
              <span class="position">Direccion y administración</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Servicios</h2>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary"><img src="/assets/images/iconodeporte.png" width="60px" height="40%" style="margin-top: 48%;"
            ></span></div>
            <div>
              <h3>Deportes</h3>
              <p>Practica todo tipo de deportes.</p>
              <p><a href="#">Saber mas</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-coin"></span></div>
            <div>
              <h3>Precios</h3>
              <p>Precios al alcance de la mano.</p>
              <p><a href="#">Saber mas</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-home"></span></div>
            <div>
              <h3>Instalaciones</h3>
              <p>Cuidamos rigurosamente cada una de nuestras instalaciones.</p>
              <p><a href="#">Saber mas</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-flat"></span></div>
            <div>
              <h3>Pistas</h3>
              <p>Cada una de nuestras pistas esta cuidada para el maximo rendimiento y para el mayor disfrute de nuestros deportistas.</p>
              <p><a href="#">Saber mas</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-location"></span></div>
            <div>
              <h3>Localización</h3>
              <p>Nos encontramos en buena zona de sevilla con facil acceso.</p>
              <p><a href="#">Saber mas</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-mobile-phone"></span></div>
            <div>
              <h3>Reservas</h3>
              <p>Reserva desde la web desde donde tu quieras,cualquier momento es bueno para el deporte.</p>
              <p><a href="#">Saber mas</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="site-section testimonial-wrap" id="testimonials-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Opiniones...</h2>
        </div>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
        <div>
          <div class="testimonial">
            
            <blockquote class="mb-5">
              <p>&ldquo;Buenisimas instalaciones donde puedes pasar un gran dia con la familia, buenos aparcamientos y gran trato del personal..&rdquo;</p>
            </blockquote>

            <figure class="mb-4 d-flex align-items-center justify-content-center">
              <div><img src="assets/images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>Matias Pratt</p>
            </figure>
          </div>
        </div>
        <div>
          <div class="testimonial">

            <blockquote class="mb-5">
              <p>&ldquo;Nuestro equipo entrena 3 dias a la semana alli y las pistas estan genial, buenos vestuarios y tienen todo tipo de materiales para que no te falte de nada.&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
              <div><img src="assets/images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>Cristian Sonaldo</p>
            </figure>
            
          </div>
        </div>

        <div>
          <div class="testimonial">

            <blockquote class="mb-5">
              <p>&ldquo;Me encantan las piscinas increible y los entrenadores personales sacan tu maximo rendimiento!!&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
              <div><img src="assets/images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>Juan Pedro</p>
            </figure>

            
          </div>
        </div>

      </div>
  </section>

  
  <section class="site-section" id="news-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Eventos</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="h-entry">
            <a href="single.html"><img src="assets/images/torneofutbol.jfif" alt="Image" class="img-fluid" style="height:150px"></a>
            <h2 class="font-size-regular"><a href="single.html" class="text-dark">Torneo de futbol Senior</a></h2>
            <div class="meta mb-4"> Junio 18, 2021<span class="mx-2"></span> <a href="single.html">Noticia</a></div>
          </div> 
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="h-entry">
            <a href="single.html"><img src="assets/images/piscina.jfif" alt="Image" class="img-fluid" style="height:150px"></a>
            <h2 class="font-size-regular"><a href="single.html" class="text-dark">Torneo 100m brazas</a></h2>
            <div class="meta mb-4"> Junio 24, 2021<span class="mx-2"></span> <a href="single.html">Noticia</a></div>
            
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="h-entry">
            <a href="single.html"><img src="assets/images/padel.jpg" alt="Image" class="img-fluid" style="height:150px"></a>
            <h2 class="font-size-regular" style="margin:auto"><a href="single.html" class="text-dark">Torneo padel</a></h2>
            <div class="meta mb-4"> Junio 15, 2021<span class="mx-2"></span> <a href="single.html">Noticia</a></div>
          </div> 
        </div>
        
      </div>
    </div>
  </section>