<div class="site-section" id="properties-section">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-7 text-left">
          <h2 class="section-title mb-3">Pistas</h2>
        </div>
      </div>

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="{{pistas[0].imagen}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{pistas[0].deporte}}</h5>
              <p class="card-text">{{pistas[0].descripcion}}</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{{pistas[1].imagen}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{pistas[1].deporte}}</h5>
              <p class="card-text">{{pistas[1].descripcion}}</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{{pistas[2].imagen}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{pistas[2].deporte}}</h5>
              <p class="card-text">{{pistas[2].descripcion}}</p>
            </div>
          </div>
        </div>
        <br>
        <br>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a (click)="verTodasPistas()" class="btn btn-primary btn-block" style="color: white;">Ver todas las pistas</a>
        </div>
      </div>
    </div>
  </div>